{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block javascripts %}
    <script src="/js/chat/messages.js"></script>
{% endblock %}
{% block body %}
    <h2>
        {{ chapter.getName }}</h2>
    <div id="messages" universe={{ chapter.getStory.getUniverse.getId }} story={{ chapter.getStory.getId }} chapter={{ chapter.getId }}>
        {% if user is defined and user is not null and chapter.getStory.isPlayer(user) %}
            <textarea id="messageToSend" name="messageToSend" placeholder="Votre message"></textarea>
            <button name="sendMessageButton" type="button" v-on:click="sendMessage()">Envoyer</button>
        {% else %}
            <p><i>Connectez-vous pour envoyer un message</i></p>
        {% endif %}
        <!-- messages -->
        <div :key="message.id" v-for="message in reverseMessages">
            <h5 :href="'/user/' + message.id + '/profile'">
                ${ message.sender.firstname }
                                                ${ message.sender.lastname }</h5>
            <p>
                ${ message.contents }</p>
            <p>
                ${ message.creationDate.date }</p>
        </div>
    </div>
{% endblock %}