.main-content {
  padding: 20px;
}

.main-content h1 {
  color: $primary-dark;
  font-family: $secondary-font;
  text-shadow: 0 1px 0 #fff;
}
  
@media (min-width: 768px) {
  .main-content {
    margin-left: $navbar-max-width;
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {

  .main-content {
    padding: 0 20px;
  }

}

