// Color palette

$primary: #A2D5AC;
$base: #E6EFC2;

$secondary: #3AAFA9;
$secondary-dark: #557C83;

$neutral: #5B5150;
$neutral-light: #756867;

// Fonts

$main-font: "Open Sans";
$secondary-font: "Sriracha", cursive;

/* Customized Bootstrap variables */

// Colors
$body-bg: $base;

// Fonts
$font-family-sans-serif: $main-font;