// Color palette

$primary: #6E4468;
$primary-light: #896378;
$primary-dark: #4B2A53;

$secondary: #271637;
$secondary-dark: #0C081C;

$neutral: #A5878F;
$neutral-light: #C0B2B2;

// Font

$main-font: "Open Sans";

// Customized Bootstrap variables

$body-bg: $neutral;
$font-family-sans-serif: $main-font;