.navbar {
  top:0;
}

.navbar-universe {
  text-align: center;
  padding: 30px!important;
  text-transform: uppercase;
  color: #fff!important;
  background-position: center;
  background-size: 100%;
  filter: grayscale(0.5);
  transition: 0.3s all ease;

  &:hover {
    filter: grayscale(0);
  }
}

.navbar-collapse {
  padding-left: 0!important;
  padding-right: 0!important;
}

.navbar-username {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px) {

  .navbar-brand img {
    height: auto;
    width: 100%;
  }
  
  .navbar-brand {
    height: $navbar-brand-height!important;
    width: $navbar-brand-width;
  }
  
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
  
  .navbar {
    max-width: $navbar-max-width;
    margin-right: 0;
    margin-left: 0;
    height: 100vh;
    position: fixed!important;
  }	
  
  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}
  
  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
}

@media (min-width: 0px) and (max-width: 576px) {

  .navbar-brand img {
    width: 20%;
  }

}