<h2>Oh la la</h2>
{% if story.getVisibility.getName == 'STORY' %}
    <p>{{ story.getName }} n'est visible que pour les joueurs de cette histoire</p>
{% elseif story.getVisibility.getName == 'UNIVERSE' %} {# if visibility = 'UNIVERSE' #}
    <p>{{ story.getName }} n'est visible que pour les joueurs membre de l'univers {{ story.getUniverse.getName }}</p>
{% else %}
    <p>{{ story.getName }} n'est pas visible</p>
{% endif %}

