input{
    padding: 30px 30px !important;
}
#registration-form label{
    display: none;
}
#top5{
    border: 1px solid black;
}
.heading-top{
    background:#3399ff;
}
.top-universe-row:hover, .story-row:hover, .chapter-row:hover {
    background-color: #00000030;
    cursor: pointer;
}