<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
            <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        {% endblock %}
        {% block vue %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block user %}
            {% if user is defined and user is not null %}
                <p>Bonjour
                    {{ user.getUsername }}
                    !</p>
                <a href="/user/{{ user.getId }}/profile">Mon profil</a>
                <a href="/logout">Me déconnecter</a>
                {% for universeMember in user.getUniverseMembers %}
                    {% set universe = universeMember.getUniverse %}
                    <a href="/universe/{{ universe.getId }}">
                        {{ universe.getName }}</a>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>